<!DOCTYPE html>
<html>
  <head>
    <title>Hub4founders</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Hub4Founders offers tailored tools to ease your journey so you can focus on expanding your network and contributing on ideas you believe in.">
    <meta name="keywords" content="startup, founder, gamejam, game, jam, hackathon, collaboration">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>